<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <div *ngIf="title">
      Welcome {{title}}!
    </div>
  </h1>


</div>
<h3>Material Design: </h3>
<div>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="title">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <p>Using references to bind instead of ngModel: {{ name.value}}</p>
  <mat-form-field>
    <input matInput placeholder="Name" #name>
  </mat-form-field>
</div>
<div class="center" *ngFor="let a of repeat">
  <button mat-button color="primary" (click)="init()">Init observable</button>
  <button mat-raised-button color="primary">Material button</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab disabled>Disabled</button>
</div>
<p> Values (Observable) : </p>
<p *ngFor="let v of values">
  {{v}}
</p>


<router-outlet></router-outlet>

<br>

<div>
  Github API:
  <app-ghub></app-ghub>
</div>

<!--show content-->
<ng-content></ng-content>
